/* about me section */
.name-heading{
  color:rgb(232, 24, 186)
}

.about-me-container{
  display: flex;
  flex-direction: row;
  margin: 40px 80px;
  /* TODO: min width or media  */
}

.about-me-text-container{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.about-me{
  color: rgb(229, 193, 0);
  /* background-color: lightpink; */
  font-weight: 500;
  font-size: 40px;
}

.bio{
  color: white;
  /* background-color: lightblue; */
  font-weight: 400;
  font-size: 25px;
  padding-left: 20px;
}

.profile-image{
  width: 300px;
  height: 100%;
  margin-left: 40px;
  border: 10px solid rgb(229, 193, 0);
}

/* personal projects and extracurricular */
.personal-projects-container, .extracurriculars-container{
  margin: 40px 80px; /* TODO: increase horizontal margin? */
  display: flex;
  flex-direction: row;
  /* min-width: 700px; */
}
.personal-projects-container{
  border: 15px solid rgb(124, 0, 249);
}
.extracurriculars-container{
  border: 15px solid rgb(232, 24, 186);
}

.personal-projects-text, .extracurriculars-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: white;
  padding: 30px;

  flex: 1;
}

.personal-projects-heading, .extracurriculars-heading{
  font-weight: 500;
  font-size: 30px;
}
.personal-projects-heading{
  color: rgb(124, 0, 249);
}
.extracurriculars-heading{
  color: rgb(232, 24, 186);
}

.personal-projects-info, .extracurriculars-info{
  color: rgb(8, 0, 58);
  /* background-color: white; */
  font-weight: 400;
  font-size: 22px;
}

.view-projects-button, .view-extracurriculars-button{
  background-color: white;
  font-size: 18px;
  padding: 6px 14px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s,
    color 0.2s,
    opacity 0.2s;
}
.view-projects-button{
  color: rgb(124, 0, 249);
  border-color: rgb(124, 0, 249);
}
.view-extracurriculars-button{
  color: rgb(232, 24, 186);
  border-color: rgb(232, 24, 186);;
}
.view-projects-button:hover{
  color: white;
  background-color: rgb(124, 0, 249);
}
.view-extracurriculars-button:hover{
  color: white;
  background-color: rgb(232, 24, 186);
}

.view-projects-button:active, .view-extracurriculars-button:active{
  opacity: 0.8;
}

.personal-projects-image, .extracurriculars-image{
  width: 400px;
  height: 225px;
  object-fit: cover;
  object-position: top;
}

@media (max-width: 850px){
  .personal-projects-container, .extracurriculars-container{
    flex-direction: column;
  }
  .personal-projects-text, .extracurriculars-text{
    order: 2;
  }
  .personal-projects-image, .extracurriculars-image{
    order: 1; 
    width: 100%;
    height: 100%;
    min-height: 175px;
    object-fit: cover;
  }
}

/* Coding Languages */
.coding-languages-container{
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 700px;
}

.coding-languages-header{
  color: rgb(8, 0, 58);
  font-weight: 500;
  font-size: 30px;
  margin-top: 25px;
}

.coding-languages-row-1, .coding-languages-row-2{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.coding-languages-row-2{
  margin-bottom: 25px;
}

.c-plus-plus-container, 
.c-container, 
.python-container, 
.java-container,
.swift-container,
.html-container,
.css-container,
.javascript-container,
.sql-container {
  color: white;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 40px;
  font-size: 20px;
  margin-left: 15px;/* TODO: not hard code or edit when screen size gets smaller */
  margin-right: 15px;
}
.c-plus-plus-container, .java-container, .css-container{
  background-color: rgb(124, 0, 249);
}
.c-container, .swift-container, .javascript-container{
  background-color: rgb(229, 193, 0);
}
.python-container, .html-container, .sql-container{
  background-color: rgb(232, 24, 186);
}

@media (max-width: 775px){
  .c-plus-plus-container, 
  .c-container, 
  .python-container, 
  .java-container,
  .swift-container,
  .html-container,
  .css-container,
  .javascript-container,
  .sql-container{
    margin-left: 5px;
    margin-right: 5px;
  }
}

.language-icon{
  width: 17px;
  height: auto;
}

.language-text{
  padding-left: 10px;
  font-weight: 400;
}
