.coding-projects-heading{
  color:rgb(229, 193, 0)
}

.snake-ai-container,
.metaphor-container,
.wdwd-container,
.mafia-moderator-container,
.most-likely-to-container, 
.focus-pal-container,
.myGov-container{
  margin: 40px 80px; /* TODO: increase horizontal margin? */
  display: flex;
  flex-direction: row;
  background-color: white;
  align-items: center;
}
.snake-ai-container, 
.most-likely-to-container,
.myGov-container{
  border: 15px solid rgb(124, 0, 249);
}
.metaphor-container,
.focus-pal-container{
  border: 15px solid rgb(229, 193, 0);
}
.wdwd-container, 
.mafia-moderator-container{
  border: 15px solid rgb(232, 24, 186);
}

.project-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 30px;
  flex: 1;
}

.snake-ai-heading,
.metaphor-heading,
.wdwd-heading,
.mafia-heading,
.most-likely-to-heading,
.focus-pal-heading {
  font-weight: 500;
  font-size: 28px;
  text-align: center;
}
.snake-ai-heading, 
.most-likely-to-heading{
  color: rgb(124, 0, 249);
}
.metaphor-heading,
.focus-pal-heading{
  color: rgb(229, 193, 0);
}
.wdwd-heading, 
.mafia-heading{
  color: rgb(232, 24, 186);
}

.project-description{
  color: rgb(8, 0, 58);
  margin-top: 2px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
.snake-ai-concepts,
.most-likely-to-concepts,
.myGov-concepts{
  color: rgb(124, 0, 249);
}
.metaphor-concepts,
.focus-pal-concepts{
  color: rgb(229, 193, 0);
}
.wdwd-concepts, 
.mafia-concepts{
  color: rgb(232, 24, 186);
}

.project-button-container{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

button{
  background-color: white;
  font-size: 18px;
  padding: 6px 14px;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s,
    color 0.2s,
    opacity 0.2s;
  margin-left: 12px;
  margin-right: 12px;
}

.myGov-github-button, .myGov-demo-button,
.snake-ai-github-button, .snake-ai-demo-button,
.most-likely-to-github-button, .most-likely-to-demo-button
{
  color: rgb(124, 0, 249);
  border-color: rgb(124, 0, 249);
}
.metaphor-github-button,
.focus-pal-github-button, .focus-pal-website-button{
  color: rgb(229, 193, 0);
  border-color: rgb(229, 193, 0);
}
.wdwd-github-button,
.mafia-github-button, .mafia-demo-button{
  color: rgb(232, 24, 186);
  border-color: rgb(232, 24, 186);
}

.myGov-github-button:hover, .myGov-github-button:hover,
.snake-ai-github-button:hover, .snake-ai-demo-button:hover,
.most-likely-to-github-button:hover, .most-likely-to-demo-button:hover{
  color: white;
  background-color: rgb(124, 0, 249);
}
.metaphor-github-button:hover,
.focus-pal-github-button:hover, .focus-pal-website-button:hover{
  color: white;
  background-color: rgb(229, 193, 0);
}
.wdwd-github-button:hover,
.mafia-github-button:hover, .mafia-demo-button:hover{
  color: white;
  background-color: rgb(232, 24, 186);
}

button:active{
  opacity: 0.8;
}

.button-text-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-text{
  margin-left: 8px;
  line-height: 110%;
}

img{
  border: 1px solid rgb(185, 185, 185);
  margin: 20px;
}
.snake-ai-image{
  width: 305px;
  height: 315px;
  object-fit: cover;
}
.metaphor-image{
  height: 315px;
  width: auto;
  object-fit: cover;
}
.wdwd-image{
  width: 375px;
  height: auto;
  object-fit: cover;
}
.app-container,
.focus-pal-image-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.app1, .app2{
  height: 315px;
  width: auto;
  object-fit: cover;
  border: none;
}
.app1{
  margin-right:0;
}
.focus-pal-task-image, .focus-pal-calendar-image{
  height: 250px;
  width: auto;
  /* margin: 20px 10px; */
  margin-left: 0px;
  margin-right: 20px;
  border: none;
}

@media (max-width: 1050px) and (min-width: 880px){
  .metaphor-image{
    width: 325px;
  }
  .wdwd-image{
    width: 325px;
  }
  .focus-pal-task-image, .focus-pal-calendar-image{
    width: 165px;
    height: auto;
    margin-bottom: 7px;
    margin-top: 7px;
  }
  /* .focus-pal-image-container{
    flex-direction: column;
  } */
}
@media (max-width: 880px){
  .myGov-container,
  .snake-ai-container, 
  .metaphor-container, 
  .wdwd-container, 
  .mafia-moderator-container,
  .most-likely-to-container,
  .focus-pal-container{
    flex-direction: column;
    min-height: 300px;
    margin-left: 30px;
    margin-right: 30px;
  }
  .project-text{
    order: 2;
  }
  .snake-ai-image,
  .metaphor-image,
  .wdwd-image,
  .app-container{
    order: 1; 
    height: 100%;
    width: 100%;
    max-height: 300px;
    min-height: 175px;
    object-fit: contain;
    padding-top: 15px;
    border: none;
  }
  .app2{
    margin-left: 10px;
  }
  .app1, .app2{
    margin-top: 15px;
    max-height: 300px;
    min-height: 175px;
    object-fit: contain;
  }
  .focus-pal-task-image, .focus-pal-calendar-image{
    width: 185px;
    height: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .project-text{
    padding-top: 15px;
  }
}

@media (max-width: 520px){
  .focus-pal-task-image, .focus-pal-calendar-image{
    width: 155px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
}