body{
  background-color: rgba(8, 0, 58, 1);
  font-family: Saira Condensed, Arial;
}

button{
  font-family: Saira Condensed, Arial;
}

p{
  margin: 0;
}

h1{
  font-weight: 500;
  font-size: 50px;
  text-align: center;
}